/* buttons */
.button1 {
	color: var(--df_secondary_color);
	background: var(--df_primary_color);
	border: 1px solid var(--df_primary_color);
	font-size: 1.25rem;
	padding: 15px 30px;
	border-radius: 30px;
	cursor: pointer;
	text-decoration: none;
	transition: 0.2s ease-in;
}

.button1:hover {
	border: 1px solid var(--df_primary_color);
	background: var(--df_primary_background);
	color: var(--df_primary_color);
}

.button2 {
	color: var(--df_primary_color);
	background: var(--df_primary_background);
	border: 1px solid var(--df_primary_color);
	font-size: 1.25rem;
	padding: 15px 30px;
	border-radius: 30px;
	cursor: pointer;
	text-decoration: none;
	transition: 0.2s ease-in;
}

.button2:hover {
	border: 1px solid var(--df_secondary_color);
	background: var(--df_primary_background);
	color: var(--df_secondary_color);
}
