/* selects */
.select1 {
	color: $df_secondary_color;
	background: $df_primary_color;
	border: 1px solid $df_primary_color;
	font-size: 1rem;
	padding: 15px 30px;
	border-radius: 1.8rem;
	cursor: pointer;
	text-align: center;
	transition: 0.2s ease-in;
	-webkit-appearance: none;
}

.select1:hover {
	color: $df_primary_color;
	background-color: $df_primary_background;
	border: 1px solid $df_primary_color;
}

.select2 {
	color: $df_primary_color;
	background: $df_primary_background;
	border: 1px solid $df_primary_color;
	font-size: 1rem;
	padding: 15px 30px;
	border-radius: 1.8rem;
	cursor: pointer;
	text-align: center;
	transition: 0.2s ease-in;
	-webkit-appearance: none;
}

.select2:hover {
	color: $df_secondary_color;
	background-color: $df_primary_background;
	border: 1px solid $df_secondary_color;
}

/* summary */
.summary1 {
	display: list-item;
	color: $df_primary_color;
	padding: 10px;
	margin: -10px -10px 0;
	cursor: pointer;
	outline: none;
	transition: 0.2s ease-in;
	font-size: 1.5rem;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.summary1:hover {
	color: $df_secondary_color;
}

.summary2 {
	display: list-item;
	color: $df_primary_color;
	padding: 10px;
	margin: -10px -10px 0;
	cursor: pointer;
	outline: none;
	transition: 0.2s ease-in;
	text-decoration: underline;
	font-size: 1.5rem;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.summary2:hover {
	color: $df_secondary_color;
	text-decoration: underline dashed;
}

/* details */
.details1 {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 10px 10px 0;
	border-radius: 15px;
	overflow: hidden;
	float: left;
	margin-right: auto;
	margin-right: 90vw;
}

.details1[open] {
	margin-bottom: 30px;
	margin-right: 90vw;
}

.details1 > :last-child {
	margin-bottom: 0;
}

.details1[open] summary {
	margin-bottom: 10px;
}

.details1 > :not(summary) {
	margin-top: 0;
}

.details2 {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 10px 10px 0;
	border-radius: 15px;
	overflow: hidden;
	float: left;
	margin-right: auto;
	margin-right: 90vw;
}

.details2[open] {
	margin-bottom: 30px;
	margin-right: 90vw;
}

.details2 > :last-child {
	margin-bottom: 0;
}

.details2[open] summary {
	margin-bottom: 10px;
}

.details2 > :not(summary) {
	margin-top: 0;
}
