/* inputs */
.input1:focus::placeholder,
.input2:focus::placeholder {
	transition: 0.2s ease-in;
	color: transparent;
}

.input1:hover::placeholder,
.input2:hover::placeholder {
	transition: 0.2s ease-in;
	color: transparent;
}

.input1 {
	color: $df_secondary_color;
	background: $df_primary_color;
	border: 1px solid $df_primary_color;
	font-size: 1rem;
	padding: 15px 30px;
	border-radius: 1.8rem;
	cursor: text;
	text-align: center;
	transition: 0.2s ease-in;
}

.input1:hover {
	color: $df_primary_color;
	background-color: $df_primary_background;
	border: 1px solid $df_primary_color;
}

.input1::placeholder {
	color: $df_secondary_color;
}

.input2 {
	color: $df_primary_color;
	background: $df_primary_background;
	border: 1px solid $df_primary_color;
	font-size: 1rem;
	padding: 15px 30px;
	border-radius: 1.8rem;
	cursor: text;
	text-align: center;
	transition: 0.2s ease-in;
}

.input2:hover {
	color: $df_secondary_color;
	background-color: $df_primary_background;
	border: 1px solid $df_secondary_color;
}

.input2::placeholder {
	color: $df_primary_color;
}

/* textareas */
textarea {
	resize: none;
}

.textarea1:focus::placeholder,
.textarea2:focus::placeholder {
	transition: 0.2s ease-in;
	color: transparent;
}

.textarea1:hover::placeholder,
.textarea2:hover::placeholder {
	transition: 0.2s ease-in;
	color: transparent;
}

.textarea1 {
	color: $df_secondary_color;
	background: $df_primary_color;
	border: 1px solid $df_primary_color;
	font-size: 1rem;
	padding: 15px 30px;
	border-radius: 30px;
	text-align: center;
	transition: 0.2s ease-in;
	text-align: center;
}

.textarea1:hover {
	color: $df_primary_color;
	background-color: $df_primary_background;
	border: 1px solid $df_primary_color;
}

.textarea1::placeholder {
	color: $df_secondary_color;
}

.textarea2 {
	color: $df_primary_color;
	background: $df_primary_background;
	border: 1px solid $df_primary_color;
	font-size: 1rem;
	padding: 15px 30px;
	border-radius: 30px;
	text-align: center;
	transition: 0.2s ease-in;
	text-align: center;
}

.textarea2:hover {
	color: $df_secondary_color;
	background-color: $df_primary_background;
	border: 1px solid $df_secondary_color;
}

.textarea2::placeholder {
	color: $df_primary_color;
}
