/* links */
.link1:link {
	color: $df_primary_color;
	font-size: 2rem;
	text-decoration: none;
	transition: 0.2s ease-in;
}

.link1:hover {
	color: $df_secondary_color !important;
	text-decoration: none !important;
}

.link1:visited {
	color: $df_primary_color;
	text-decoration: none;
}

.link2:link {
	color: $df_primary_color;
	font-size: 2rem;
	text-decoration: underline;
	transition: 0.2s ease-in;
}

.link2:hover {
	color: $df_secondary_color !important;
	text-decoration: underline dashed !important;
}

.link2:visited {
	color: $df_primary_color;
	text-decoration: underline;
}
